{% extends "base.twig" %}

{% do add_stylesheet('/css/login.css') %}

{% block wrapper %}
<div class="login-form">
    <div class="login-form__hero" aria-hidden="true">
        <img class="login-form__characters" src="/images/backgrounds/characters-1.png" alt="" />
    </div>

    <div class="login-form__panel">
        <div class="panel panel--dark">
            <div class="login-form__header">
                <h1>{{ site.name }}</h1>
            </div>
            <div class="login-form__content">
                <a class="button button--full button--primary" href="{{ url }}">Login With Google</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
