{% extends "base.twig" %}

{% do add_stylesheet('/css/auth.css') %}

{% block content %}
<main>
    <div class="auth-form">
        <a class="button button--google button--full" href="{{ url }}">Login With Google</a>
    </div>
<main>
{% endblock %}
