{% extends 'layouts/character/builder.twig' %}

{% set back_url = get_url('characters_settings', {hash: entity.hash}) %}
{% set next_url = get_url('characters_hindrances', {hash: entity.hash}) %}

{% block page %}

<div class="panel panel--collapsible panel--collapsed panel--helpable">
    <h2 class="panel__title">Character Concept</h2>
    <div class="panel__content">
    <p>Your character concept spells out who your character is. A tough fighter who leads with their fists? A quiet bookworm with odd psionic powers? Your concept should conjure up an image of your character, ready to step forth into adventure!!</p>
    </div>
</div>

<div class="field field--builder-text field--builder-concept {% if field_has_error('concept', errors) %}field--error{% endif %}">
    <label class="field__label">Concept</label>
    <div class="field__inner">
        <textarea class="field__input" name="concept" rows="5" maxlength="255">{{ entity.concept }}</textarea>
    </div>
</div>

{% endblock %}
