{% extends 'base.twig' %}

{% block content %}
{% include "partials/character-bar.twig" %}
<form class="form" method="post" action="">
    <div class="field {% if field_has_error('name', errors) %}field--error{% endif %}">
        <label class="field__label">Your character's name</label>
        <div class="field__inner">
            <input class="field__input" type="text" name="name" value="{{ entity.name }}"/>
        </div>
        <p class="field__error">This field is required</p>
    </div>

    <div class="form__buttons">
        <a class="button" href="{{ get_url('home_page') }}">Cancel</a>
        <button class="button button--primary" type="submit">Save and Continue...</button>
    </div>

</form>
{% endblock %}
