{% extends 'layouts/character/builder.twig' %}

{% block page %}
<p>Mauris congue, ante eu feugiat facilisis, nunc felis sagittis dui,
vitae maximus ante eros sed quam. Suspendisse consequat, risus eget
commodo tincidunt, diam mauris luctus mi, eu dapibus erat dolor sit
amet felis. Quisque vitae mollis tellus, a mattis risus. Ut ullamcorper
dolor ut placerat volutpat. Curabitur luctus cursus ligula, ut fringilla
erat placerat eget. Aenean tincidunt purus id maximus tincidunt. Proin
vestibulum tincidunt mi, ac tempus urna aliquam nec. Etiam eget tortor
sit amet ex vulputate lobortis in sit amet elit. Quisque varius, ligula
quis tempus sollicitudin, leo ex rutrum arcu, nec luctus leo nibh vel
odio. Cras lectus ante, scelerisque ac justo consequat, auctor pellentesque
magna. Cras non odio tempus, dapibus lectus et, venenatis massa.</p>

<form class="form" method="post" action="">
    <div class="field {% if field_has_error('name', errors) %}field--error{% endif %}">
        <label class="field__label">Your character's name</label>
        <div class="field__inner">
            <input class="field__input" type="text" name="name" value="{{ entity.name }}"/>
        </div>
        <p class="field__error">This field is required</p>
    </div>

    <div class="form__buttons form__buttons--floating">
        <a class="button" href="{{ get_url('home_page') }}">Cancel</a>
        <button class="button button--primary" type="submit">Save and Continue...</button>
    </div>

</form>
{% endblock %}
