{% extends 'base.twig' %}

{% block content %}
<form class="form" method="post" action="">

    <div class="field {% if errors|length > 0 %}field--error{% endif %}">
        <label class="field__label">Write a very brief character concept - who they are, what they're good at, etc</label>
        <div class="field__inner">
            <textarea class="field__input" rows="5" name="concept">{{ entity.concept }}</textarea>
        </div>
        <p class="field__error">This field is required</p>
    </div>

    <div class="form__buttons">
        <button class="button button--primary" type="submit">Next</button>
    </div>

</form>
{% endblock %}
