{% extends 'base.twig' %}

{% block content %}
<form class="form" method="post" action="/create">

    hindrances

    <div class="form__buttons">
        <button class="button button--primary" type="submit">Next</button>
    </div>

</form>

{% endblock %}
