@use "tokens" as *;
@use "../../settings/colors" as color;

.button--slider {
    position: relative;
    border: none;
    background: color.$transparent;
    padding-left: 40px;

    .button__slide {
        border-color: $button-border;
        background-color: $button-background;
        box-shadow: inset 0 0 3px color.$overlay-black-15;
        position: absolute;
        cursor: pointer;
        height: 20px;
        width: 40px;
        top: 4px;
        left: 0;
        border-radius: 3px;
        overflow: hidden;

        &:before {
            border-radius: 2px;
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            top: 1px;
            left: 1px;
            bottom: 1px;
            right: auto;
            background-color: $led-off;
            box-shadow:
                inset 0 0 2px color.$overlay-black-45,
                0 0 3px color.$slider-thumb-shadow;
            transition: .4s;
        }
    }

    input:checked + .button__slide:before {
        right: 1px;
        left: auto;
        background-color: $led-on;
        box-shadow:
            inset 0 0 2px color.$overlay-black-45,
            0 0 3px color.$led-on-glow-soft;
    }

    input[type="checkbox"] {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
