@use "../settings/colors" as color;
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
@for $level from 1 through 4 {
    h#{$level} {
        font-size: 2.5rem - (($level - 1) * 0.4rem);
        font-family: "Staatliches", system-ui;
        font-weight: 400;
        color: color.$sheet-heading;
    }
}
p,ul,ol,dl {
    margin-bottom: 0.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}
p.small {
    font-size: 0.8rem;
}
