{% extends 'base.twig' %}

{% do add_stylesheet("/css/builder.css") %}

{% block content %}
    {% include "partials/character-tabs.twig" %}
    <main>
    {% block page %}{% endblock %}
    </main>
{% endblock %}
