{% extends 'base.twig' %}

{% do add_stylesheet("/css/builder.css") %}

{% block content %}
    {% include "partials/character-tabs.twig" %}

    <section class="builder-page">{% block page %}{% endblock %}</section>
{% endblock %}
