<nav class="character-nav">
    <a class="character-nav__link" href="{{ get_url('characters_concept', { hash: entity.hash }) }}">Basics</a>
    <a class="character-nav__link" href="{{ get_url('characters_hindrances', { hash: entity.hash }) }}">Hindrances</a>
    <a class="character-nav__link" href="{{ get_url('characters_attributes', { hash: entity.hash }) }}">Attributes</a>
    <a class="character-nav__link" href="{{ get_url('characters_skills', { hash: entity.hash }) }}">Skills</a>
</nav>
