<header class="topbar">
    <h1>SCM</h1>
    <nav class="main-nav">
        <a href="/" class="main-nav__item">Home</a>
        <a href="/create" class="main-nav__item">Create a character</a>
    </nav>
</header>
