@use "../../settings/css-variables" as vars;
@use "../../tools/breakpoints";

$budgets-border: 1px solid #ccc;
$budgets-background: #ffffff;
$budgets-border-radius: 5px;

.budgets {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 30rem;
    display: flex;
    flex-direction: row;
    z-index: 10;
    line-height: 1;

    @include breakpoints.at(phablet) {
        justify-content: center;
        top: auto;
        left: 0;
        right: 0;
        bottom: 4rem;
        background-color: #fff;
    }

    .budget__panel {
        /* outline: 1px dotted red; */

        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1.1rem;
        min-width: 10rem;
    }
    .budget__panel--skills {
        flex: 12 0 auto;
    }
    .budget__panel--hindrances {
        flex: 4 0 auto;
    }
}
