@use "../../settings/css-variables" as vars;
@use "../../settings/sheet-tokens" as sheet;
@use "../../tools/breakpoints";
@use "../../settings/colors" as color;

$tabs-border-radius: 4px;
$tabs-border-colour: color.$overlay-black-25;
$tabs-border-colour-active: color.$overlay-black-50;
$tabs-background-colour: color.$tabs-background;
$tabs-background-colour-active: color.$white;
$tabs-text-color: color.$border-muted;
$tabs-text-color-active: color.$text-soft;
$tabs-text-color-disabled: color.$medium-grey;

.character-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    width: 100%;

    &__link {
        font-family: sheet.$sheet-title-font;
        color: $tabs-text-color;
        display: flex;
        justify-content: center;
        padding: 0.2rem 0.5rem;
        margin-right: 0.5rem;
        width: 8rem;
        text-decoration: none;
        text-align: center;
        border-radius: $tabs-border-radius;
        background-color: $tabs-background-colour;
        border: 1px solid $tabs-border-colour;
        white-space: nowrap;
        cursor: pointer;

        img {
            width: 24px;
            height: 24px;
            margin-right: 0.2rem;
            opacity: 0.8;
        }

        @include breakpoints.at(tablet) {
            min-width: 3rem;
            span {
                display: none;
            }
        }

        &:first-child {
            margin-left: 0.5rem;
        }

        &:hover {
            text-decoration: none;
        }

        &--disabled {
            color: $tabs-text-color-disabled;
            cursor: auto;
            img {
                opacity: 0.4;
            }
        }
        &--active {
            background-color: $tabs-background-colour-active;
            color: $tabs-text-color-active;
            box-shadow: 0 0 4px color.$overlay-black-25;
            border-color: $tabs-border-colour-active;
        }
    }
}
