@use "../../tools/breakpoints";

.roster {
    &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;

        @include breakpoints.at('phablet') {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }

        &__panel {
            line-height: 1;
            @include breakpoints.at('phablet') {
                width: 100%;
            }
        }
    }
}
