@use "../settings/css-variables" as vars;
@use "sass:color";
@use "sass:map";

$types: (
    'default': (
        "background-color": #eeeeee,
        "text-color": #333333,
    ),
    'primary': (
        "background-color": #e8eff4,
        "text-color": #333333,
    ),
    'danger': (
        "background-color": #ffeeee,
        "text-color": #ff7777,
    ),
    'google': (
        "background-color": #ffffff,
        "text-color": #f96161,
    ),
);

/** Button styles **/
$button-border-radius-default: vars.$border-radius-default;
$button-padding-default: 0.5rem 1.5rem;
$button-margin-default: 0.5rem;

.button {
    padding: $button-padding-default;
    margin-right: $button-margin-default;
    text-align: center;
    line-height: 1;
    cursor: pointer;

    &:active,
    &:visited,
    &:hover {
        text-decoration: none;
    }

    &:last-child {
        margin-right: 0;
    }
}
.button--full {
    width: 100%;
}
@each $type, $attributes in $types {
    $type_modifier: "";
    @if $type != "default" {
        $type_modifier: "--#{$type}";
    }
    .button#{$type_modifier} {
        $background_color: map.get($attributes, "background-color");
        $text_color: map.get($attributes, "text-color");
        border: none;
        background: $background_color;
        border-radius: $button-border-radius-default;
        /* border: 1px solid color.adjust($background_color, $lightness: -15%);
        background: linear-gradient(
            to bottom,
            color.adjust($background_color, $lightness: 0%),
            color.adjust($background_color, $lightness: -10%)
        ); */
        color: $text_color;

        &:hover {
            background: $background_color;
            /* background: linear-gradient(
                to bottom,
                color.adjust($background_color, $lightness: 5%),
                color.adjust($background_color, $lightness: -5%)
            ); */
        }
        /* &:active {
            background: linear-gradient(
                to bottom,
                color.adjust($background_color, $lightness: 0%),
                color.adjust($background_color, $lightness: 10%)
            );
        } */
    }
}
