/** Cards **/
:root {
    --cards-gutter: 1rem;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 1 1;
    min-width: 20rem;
    border: 1px solid #CCC;
    border-radius: 0.5rem;
    margin: var(--cards-gutter);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &--narrow {
        min-width: 10rem;
    }

    .card__title,
    .card__content,
    .card__footer {
        padding: 0.5rem 1rem;
    }

    .card__title {
        flex: 0 0 auto;
        font-weight: 600;
        background-color: var(--c-light-grey);
    }
    .card__content {
        flex: 1 1 auto;
        margin-top: 1rem;
    }
    .card__footer {
        flex: 0 0 auto;
        margin-top: 1rem;
        background-color: var(--c-light-grey);
    }

}
