@use "../settings/css-variables" as vars;
@use "cards/character";

/** Cards **/
.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

.card {
    flex: 1 1;
    min-width: 20rem;
    max-width: 30rem;
    border: 1px solid #CCC;
    border-radius: 0.5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--c-white);

    &--narrow {
        min-width: 10rem;
    }

    .card__title,
    .card__content,
    .card__footer {
        padding: 0.5rem 1rem;
    }

    .card__title {
        flex: 0 0 auto;
        font-weight: 600;
        background-color: var(--c-light-grey);
    }
    .card__content {
        flex: 1 1 auto;
        margin-top: 1rem;
    }
    .card__footer {
        flex: 0 0 auto;
        margin-top: 1rem;
        background-color: var(--c-light-grey);
    }
}
