@use "../settings/css-variables" as vars;

/** Form Styling **/
$form-buttons-background: #ffffff;
$field-color: inherit;
$field-color-error: #cc3333;
$field-input-border-color: #666;
$field-input-border-color-error: #cc3333;


.form {

    .form__buttons {
        padding: 0.5rem;
        display: flex;
        justify-content: flex-end;
    }
    .form__buttons--floating {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background-color: $form-buttons-background;
        box-shadow: 0 -0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    }
}

.field {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .field__label,
    .field__inner,
    .field__input {
        width: 100%;
        color: $field-color;
        font-size:  1.1rem;
    }

    .field__label {
        margin-bottom: 0.5rem;
    }
    .field__input {
        padding: 1rem;
        border: 1px solid $field-input-border-color;
        border-radius: 0.5rem;
    }
    .field__error {
        color: $field-color-error;
        display: none;
    }

    &.field--error {
        .field__label {
            color: $field-color-error;
        }
        .field__input {
            border-color: $field-input-border-color-error;
        }
        .field__error {
            display: block;
        }
    }
}
