@use "../settings/css-variables" as vars;
@use "../settings/colors" as color;

/** Form Styling **/
$form-buttons-background: color.$white;
$field-input-border: 1px solid color.$border-muted;

.form {
    width: 100%;

    .form__buttons {
        padding: 0.5rem;
        display: flex;
        justify-content: flex-end;
    }
    .form__buttons--floating {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background-color: $form-buttons-background;
        box-shadow: 0 -0.1rem 0.2rem color.$overlay-black-10;
        z-index: 30;
    }
}

.field__input {
    width: 100%;
    padding: 0.5rem;
    border-radius: vars.$border-radius-default;
    border: $field-input-border;
}
