@use "../settings/css-variables" as vars;

$panel-padding: 2rem;
$panel-border: 1px solid #CCC;
$panel-title-background: #ccc;

.panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: $panel-border;
    border-radius: vars.$border-radius-default;
    background: var(--c-white);

    .panel__title {
        padding: 1rem 1rem 0.5rem 1rem;
        border-bottom: $panel-border;
    }
    .panel__content {
        padding: 1rem 1rem;
    }
}
