@use "sass:color";
@use "../settings/css-variables" as vars;
@use "../tools/breakpoints";

$toast-background-colour: rgb(255,255,255,1);
$toast-colour: var(--c-black);

$toast-accent-default: var(--c-medium-grey);
$toast-accent-pale-default: var(--c-light-grey);
$toast-accent-success: #19c62b;
$toast-accent-pale-success: color.adjust(#19c62b, $lightness: 45%);
$toast-accent-info: #4f5fef;
$toast-accent-pale-info: color.adjust(#4f5fef, $lightness: 30%);
$toast-accent-warning: #f7c204;
$toast-accent-pale-warning: color.adjust(#f7c204, $lightness: 45%);
$toast-accent-error: #f44933;
$toast-accent-pale-error: color.adjust(#f44933, $lightness: 35%);
$toast-colour-success: color.adjust(#19c62b, $lightness: -20%);
$toast-colour-info: color.adjust(#4f5fef, $lightness: -20%);
$toast-colour-warning: color.adjust(#f7c204, $lightness: -20%);
$toast-colour-error: color.adjust(#f44933, $lightness: -20%);

.toast__container {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 20;
    min-width: 10rem;
    max-width: 30rem;
    @include breakpoints.at(tablet) {
        min-width: auto;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.toast {
    position: relative;
    padding: 0;
    border: 1px solid $toast-accent-default;
    border-left: 15px solid $toast-accent-default;
    background-color: $toast-accent-pale-default;
    border-radius: vars.$border-radius-default;
    color: $toast-colour;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    white-space: wrap;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    .toast__close {
        position: absolute;
        top: 0.25rem;
        right: 0.5rem;
        font-size: 0.8rem;
        font-weight: 600;
        cursor: pointer;
    }
    .toast__heading {
        font-size: 1rem;
        font-weight: 600;
        padding: 0.5rem 1rem 0.25rem 1rem;
    }
    .toast__message {
        font-size: 1.1rem;
        padding: 0.25rem 1rem 0.5rem 1rem;
    }

    &--success {
        border-color: $toast-accent-success;
        background-color: $toast-accent-pale-success;
        color: $toast-colour-success;
    }
    &--info {
        border-color: $toast-accent-info;
        background-color: $toast-accent-pale-info;
        color: $toast-colour-info;
    }
    &--warning {
        border-color: $toast-accent-warning;
        background-color: $toast-accent-pale-warning;
        color: $toast-colour-warning;
    }
    &--error {
        border-color: $toast-accent-error;
        background-color: $toast-accent-pale-error;
        color: $toast-colour-error;
    }
}
