@use "../tools/breakpoints";
@use "../settings/css-variables" as vars;

@use "../settings/colors" as color;
$topbar-border-colour: color.$light-grey;

.topbar {
    position: sticky;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    background: color.$white url(/images/backgrounds/blue-background-tileable.png) repeat top left;
    background-size: cover;
    z-index: 30;
    box-shadow: 0 2px 4px color.$overlay-black-10;
    min-width: vars.$page-min-width;
    width: 100%;

    .topbar__section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoints.at(phablet) {
            flex-direction: column;
        }
    }
}
