@use "../tools/breakpoints";
@use "../settings/css-variables" as vars;

$topbar-border-colour: #cccccc;

.topbar {
    position: sticky;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    background: var(--c-white) url(/images/backgrounds/blue-background.png) no-repeat center center;
    background-size: cover;
    z-index: 30;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: vars.$page-min-width;
    width: 100%;

    .topbar__section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoints.at(phablet) {
            flex-direction: column;
        }
    }
}
