$aside-background-color: #cfcfcf;
$aside-border: 1px solid #999;

aside {
    /* outline: 1px dotted red; */

    padding: 1rem;
    background-color: $aside-background-color;
    border: $aside-border;
}
