@use "../settings/colors" as color;
html {
    font-size: 100%;
    min-height: 100%;
    text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    color: color.$black;
    min-height: 100vh;
    background-color: color.$body-background;
}
body.login {
    background: color.$login-background url(/images/backgrounds/blue-background-tileable.png) repeat top left;
    background-size: cover;
}
