@use "../tools/breakpoints";

section {
    margin-bottom: 3rem;
    width: 100%;

    .section__header {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include breakpoints.at('phablet') {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }
    }
}
