{% extends 'base.twig' %}

{% block content %}
{{ session.name }}
{% for character in characters %}
    <p>{{ character.id }} - {{ character.concept }} - <a href="/hindrances/{{ character.hash }}">Edit</a></p>
{% else %}
    <p>No characters found - <a href="/create">Create one now</a></p>
{% endfor %}

{% endblock %}
