{% extends 'base.twig' %}

{% block content %}

{% for character in characters %}
    <p>{{ character.id }} - {{ character.concept }}</p>
{% else %}
    <p>No characters found - <a href="/create">Create one now</a></p>
{% endfor %}

{% endblock %}
