/** Cards **/
:root {

}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .cards__card {
        flex: 1 1;
        min-width: 20rem;
        border: 1px solid #CCC;
        border-radius: 0.5rem;
        margin: 0.2rem;
        padding: 1rem 1.2rem;
        box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    }
}
