/** Base Stylesheet **/
/** Settings **/
:root {
  --page-min-width: 470px;
  /** Borders **/
  --border-radius-default: 5px;
}

:root {
  --c-white: #ffffff;
  --c-light-grey: #cccccc;
  --c-medium-grey: #999999;
  --c-dark-grey: #666666;
  --c-black: #000000;
  --c-red: #ff0000;
  --c-green: #00ff00;
  --c-blue: #0000ff;
}

/** Base rules **/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/** Elements **/
html {
  font-size: 100%;
  height: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--c-black);
  background-color: var(--c-white);
}

main {
  flex-grow: 1;
  padding: 1rem auto;
  padding-bottom: 6rem;
  z-index: 0;
  background-color: var(--c-white);
  min-width: var(--page-min-width);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1rem;
}
@media (max-width: 1199px) {
  main {
    margin: 0 2rem;
  }
}
@media (max-width: 767px) {
  main {
    margin: 0 1rem;
  }
}

/** Components **/
:root {
  --topbar-border-colour: #cccccc;
}

.topbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--c-white);
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: var(--page-min-width);
}
.topbar .topbar__section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.topbar .topbar__section:last-child {
  margin-bottom: 0;
}
@media (max-width: 999px) {
  .topbar .topbar__section {
    flex-direction: column;
  }
}

.menu {
  /* outline: 1px dotted blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  margin-right: 1rem;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item--user {
  height: 25px;
  width: 25px;
}

.dropdown {
  /* overflow: hidden; */
  position: relative;
}
.dropdown .dropdown__menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--c-white);
  display: none;
  width: auto;
  padding: 1rem 1.5rem;
  border: 1px solid var(--c-black);
  border-radius: var(--border-radius-default);
}
.dropdown .dropdown__menu__item {
  display: block;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
.dropdown .dropdown__menu__item:last-child {
  margin-bottom: 0;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown:hover .dropdown__menu {
  display: block;
}

/** Form Styling **/
:root {
  --form-buttons-background: #ffffff;
  --field-color: inherit;
  --field-color-error: #cc3333;
  --field-input-border-color: #666;
  --field-input-border-color-error: #cc3333;
}

.form {
  .form__buttons {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
  .form__buttons--floating {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--form-buttons-background);
    box-shadow: 0 -0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  }
}

.field {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .field__label,
  .field__inner,
  .field__input {
    width: 100%;
    color: var(--field-color);
    font-size: 1.1rem;
  }
  .field__label {
    margin-bottom: 0.5rem;
  }
  .field__input {
    padding: 1rem;
    border: 1px solid var(--field-input-border-color);
    border-radius: 0.5rem;
  }
  .field__error {
    color: var(--field-color-error);
    display: none;
  }
  &.field--error {
    .field__label {
      color: var(--field-color-error);
    }
    .field__input {
      border-color: var(--field-input-border-color-error);
    }
    .field__error {
      display: block;
    }
  }
}

/** Button styles **/
:root {
  --button-background-color: #cccccc;
  --button-background-color-text: #333333;
  --button-border-color: #bbbbbb;
  --button-background-color-primary: #39a0ef;
  --button-background-color-text-primary: #ffffff;
  --button-border-color-primary: #1079c9;
  --button-background-color-danger: #ff7777;
  --button-background-color-text-danger: #ffeeee;
  --button-border-color-danger: #7c2424;
  --button-background-color-google: #f96161;
  --button-background-color-text-google: #ffffff;
  --button-border-color-google: #ef3434;
  --button-border-radius-default: 5px;
  --button-padding-default: 0.5rem 1.5rem;
  --button-margin-default: 0.5rem;
}

.button {
  padding: var(--button-padding-default);
  margin-right: var(--button-margin-default);
  display: block;
  text-align: center;
  border-radius: var(--button-border-radius-default);
  border: 1px solid var(--button-border-color);
  background-color: var(--button-background-color);
  color: var(--button-background-color-text);
  &:last-child {
    margin-right: 0;
  }
  &.button--primary {
    border: 1px solid var(--button-border-color-primary);
    background-color: var(--button-background-color-primary);
    color: var(--button-background-color-text-primary);
  }
  &.button--danger {
    border: 1px solid var(--button-border-color-danger);
    background-color: var(--button-background-color-danger);
    color: var(--button-background-color-text-danger);
  }
  /** Login Buttons **/
  &.button--google {
    border: 1px solid var(--button-border-color-google);
    background-color: var(--button-background-color-google);
    color: var(--button-background-color-text-google);
  }
  &.button--full {
    width: 100%;
  }
}

:root {
  --toast-background-colour: rgb(255,255,255,1);
  --toast-colour: var(--c-black);
  --toast-accent-default: var(--c-medium-grey);
  --toast-accent-pale-default: var(--c-light-grey);
  --toast-accent-success: #19c62b;
  --toast-accent-pale-success: rgb(203.9461883408, 248.5538116592, 208.5874439462);
  --toast-accent-info: #4f5fef;
  --toast-accent-pale-info: rgb(219.25, 222.5, 251.75);
  --toast-accent-warning: #f7c204;
  --toast-accent-pale-warning: rgb(254.5298804781, 248.3007968127, 225.9701195219);
  --toast-accent-error: #f44933;
  --toast-accent-pale-error: rgb(253.1325581395, 224.1023255814, 220.3674418605);
  --toast-colour-success: rgb(13.5650224215, 107.4349775785, 23.331838565);
  --toast-colour-info: #1224c6;
  --toast-colour-warning: rgb(146.625498008, 115.1633466135, 2.374501992);
  --toast-colour-error: rgb(183.1255813953, 29.623255814, 9.8744186047);
}

.toast__container {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 20;
  min-width: 10rem;
  max-width: 30rem;
}
@media (max-width: 999px) {
  .toast__container {
    min-width: auto;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
}
.toast__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.toast {
  position: relative;
  padding: 0;
  border: 1px solid var(--toast-accent-default);
  border-left: 15px solid var(--toast-accent-default);
  background-color: var(--toast-accent-pale-default);
  border-radius: var(--border-radius-default);
  color: var(--toast-colour);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  white-space: wrap;
  margin-bottom: 1rem;
}
.toast:last-child {
  margin-bottom: 0;
}
.toast .toast__close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.toast .toast__heading {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem 0.25rem 1rem;
}
.toast .toast__message {
  font-size: 1.1rem;
  padding: 0.25rem 1rem 0.5rem 1rem;
}
.toast--success {
  border-color: var(--toast-accent-success);
  background-color: var(--toast-accent-pale-success);
  color: var(--toast-colour-success);
}
.toast--info {
  border-color: var(--toast-accent-info);
  background-color: var(--toast-accent-pale-info);
  color: var(--toast-colour-info);
}
.toast--warning {
  border-color: var(--toast-accent-warning);
  background-color: var(--toast-accent-pale-warning);
  color: var(--toast-colour-warning);
}
.toast--error {
  border-color: var(--toast-accent-error);
  background-color: var(--toast-accent-pale-error);
  color: var(--toast-colour-error);
}

/*# sourceMappingURL=styles.css.map */
