/** Base Stylesheet **/
/** Settings **/
:root {
  /** Borders **/
  --border-radius-default: 5px;
}

:root {
  --c-white: #ffffff;
  --c-light-grey: #cccccc;
  --c-medium-grey: #999999;
  --c-dark-grey: #666666;
  --c-black: #000000;
  --c-red: #ff0000;
  --c-green: #00ff00;
  --c-blue: #0000ff;
}

/** Base rules **/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/** Elements **/
html {
  font-size: 100%;
  height: 100%;
  overflow-y: auto;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  /* position: relative; */
  color: var(--c-black);
  background-color: var(--c-white);
}

main {
  flex-grow: 1;
  padding: 1rem auto;
  padding-bottom: 6rem;
  z-index: 0;
  background-color: var(--c-white);
}

/** Components **/
:root {
  --topbar-border-colour: #cccccc;
}

.topbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--c-white);
  z-index: 10;
}
.topbar .topbar__section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.topbar .topbar__section:last-child {
  margin-bottom: 0;
  align-items: flex-start;
}
@media (max-width: 999px) {
  .topbar .topbar__section {
    flex-direction: column;
  }
}

.menu {
  /* outline: 1px dotted blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  margin-right: 1rem;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item--user {
  height: 25px;
  width: 25px;
}

.data-panel {
  outline: 1px dotted red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.dropdown {
  /* overflow: hidden; */
  position: relative;
}
.dropdown .dropdown__menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--c-white);
  display: none;
  width: auto;
  padding: 1rem 1.5rem;
  border: 1px solid var(--c-black);
  border-radius: var(--border-radius-default);
}
.dropdown .dropdown__menu__item {
  display: block;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
.dropdown .dropdown__menu__item:last-child {
  margin-bottom: 0;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown:hover .dropdown__menu {
  display: block;
}

/** Form Styling **/
:root {
  --form-buttons-background: #ffffff;
  --field-color: inherit;
  --field-color-error: #cc3333;
  --field-input-border-color: #666;
  --field-input-border-color-error: #cc3333;
}

.form {
  .form__buttons {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
  .form__buttons--floating {
    outline: 1px dotted red;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--form-buttons-background);
  }
}

.field {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .field__label,
  .field__inner,
  .field__input {
    width: 100%;
    color: var(--field-color);
    font-size: 1.1rem;
  }
  .field__label {
    margin-bottom: 0.5rem;
  }
  .field__input {
    padding: 1rem;
    border: 1px solid var(--field-input-border-color);
    border-radius: 0.5rem;
  }
  .field__error {
    color: var(--field-color-error);
    display: none;
  }
  &.field--error {
    .field__label {
      color: var(--field-color-error);
    }
    .field__input {
      border-color: var(--field-input-border-color-error);
    }
    .field__error {
      display: block;
    }
  }
}

/** Button styles **/
:root {
  --button-background-color: #cccccc;
  --button-background-color-text: #333333;
  --button-border-color: #bbbbbb;
  --button-background-color-primary: #39a0ef;
  --button-background-color-text-primary: #ffffff;
  --button-border-color-primary: #1079c9;
  --button-background-color-danger: #ff7777;
  --button-background-color-text-danger: #ffeeee;
  --button-border-color-danger: #7c2424;
  --button-background-color-google: #f96161;
  --button-background-color-text-google: #ffffff;
  --button-border-color-google: #ef3434;
  --button-border-radius-default: 5px;
  --button-padding-default: 0.5rem 1.5rem;
}

.button {
  padding: var(--button-padding-default);
  border-radius: var(--button-border-radius-default);
  border: 1px solid var(--button-border-color);
  background-color: var(--button-background-color);
  color: var(--button-background-color-text);
  &.button--primary {
    border: 1px solid var(--button-border-color-primary);
    background-color: var(--button-background-color-primary);
    color: var(--button-background-color-text-primary);
  }
  &.button--danger {
    border: 1px solid var(--button-border-color-danger);
    background-color: var(--button-background-color-danger);
    color: var(--button-background-color-text-danger);
  }
  /** Login Buttons **/
  &.button--google {
    border: 1px solid var(--button-border-color-google);
    background-color: var(--button-background-color-google);
    color: var(--button-background-color-text-google);
  }
}

/*# sourceMappingURL=styles.css.map */
