:root {
    --c-white: #ffffff;
    --c-light-grey: #cccccc;
    --c-medium-grey: #999999;
    --c-dark-grey: #666666;
    --c-black: #000000;
    --c-red: #ff0000;
    --c-green: #00ff00;
    --c-blue: #0000ff;
}
