:root {
    --c-white: #ffffff;
    --c-light-grey: #cccccc;
    --c-medium-grey: #999999;
    --c-dark-grey: #666666;
    --c-black: #000000;
    --c-red: #ff0000;
    --c-green: #00ff00;
    --c-blue: #0000ff;

    --c-sheet-heading: rgb(135, 28, 22);
    --c-sheet-ink: #1d1208;
    --c-sheet-muted: #8b7a5b;
    --c-sheet-muted-pale: #d3ccbe;
    --c-sheet-paper: #fbf6ea;
    --c-sheet-rail: rgba(245, 245, 245);
    --c-sheet-rail-item-hover: rgba(166, 30, 30, 0.5);
    --c-sheet-rail-item-selected: rgba(166, 30, 30, 1);
    --c-sheet-rail-item-active: rgba(166, 30, 30, 0.75);
    --c-sheet-rail-item-border-active: rgba(116, 0, 0, 1);
    --c-parchment: #f6ecd5;
    --c-parchment-dark: #e8d9b0;
    --c-button-hover: rgba(166, 30, 30, 0.25);
}
